@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
    font-family: "Open Sans", Arial;
    background: #EDEDED;
}

main {
    max-width: 1000px;
    margin: 30px auto;
    padding: 10px 40px 50px;
    background: #FFF;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

#filter {
    margin-bottom: 1em;
}

.table {
    font-size: 0.9em;
    table-layout: fixed;
}

th.sortable {
    cursor: pointer;
}

th.sortable:hover {
    background: #EEE;
}

.caret-blank {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}

.centered {
    text-align: center;
}