<!DOCTYPE>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Main page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{css/make-order.css}">

</head>
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/Luggage-delivery">Luggage delivery</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/Luggage-delivery">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/Luggage-delivery/make-order">Make order</a>
                </li>
                <li th:if="${userLogin} eq null" class="nav-item">
                    <a class="nav-link disabled" href="#">View my orders</a>
                </li>
                <li th:if="${userLogin} ne null" class="nav-item">
                    <a class="nav-link" href="/Luggage-delivery/user-order">View my orders</a>
                </li>
            </ul>
            <form th:if="${userLogin} eq null"
                  th:action="@{/login}" class="form-inline mt-2 mt-md-0" style="position: relative; left: 1000px">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign in</button>
            </form>
            <form th:if="${userLogin} ne null"
                  th:action="@{/login}" class="form-inline mt-2 mt-md-0" style="position: relative; left: 980px">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign out</button>
            </form>
        </div>
    </nav>
</header>

<body>
<div class="container">
    <!--  &nbsp; -- means one space in html -->
    <div class="title">ORDER
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;
        <!--        <span th:if="${totalPrice} ne null" th:text="'Total price ' + ${totalPrice}"></span>-->
        <span th:if="${totalPrice} ne null"
              th:text="'Total price ' + ${totalPrice}">

        </span>
    </div>
    <div class="content">
        <form th:action="@{make-order/order-process}" th:method="post">
            <div class="user-details">
                <div class="input-box">
                    <span class="details">Size</span>
                    <input type="number"
                           th:value="${size}"
                           name="size"
                           min="5" step="0.01"
                           placeholder="Enter luggage volume" required>
                </div>
                <div class="input-box">
                    <span class="details">Type</span>
                    <input type="text"
                           name="type"
                           th:value="${type}"
                           placeholder="Enter category" pattern="[A-Z]+"
                           title="SPORT" required>
                </div>
                <div class="input-box">
                    <span class="details">Weight</span>
                    <input type="number" name="weight"
                           th:value="${weight}"
                           placeholder="Enter weight"
                           min="0.2" step="0.01" required>
                </div>

                <div class="input-box">
                    <span class="details">Choose the route</span>
                    <select name="routeId">
                        <optgroup label="START POINT - FINAL POINT">
                            <div th:each="route: ${allRoutes}">
                                <div th:if="${routeId} eq ${route.id}">
                                    <option th:value="${route.id}"
                                            th:text="${route.startPoint} + ' - ' + ${route.destinationPoint}"
                                            selected></option>
                                </div>
                                <div th:if="${routeId} ne ${route.id}">
                                    <option th:value="${route.id}"
                                            th:text="${route.startPoint} + ' - ' + ${route.destinationPoint}"></option>
                                </div>
                            </div>
                        </optgroup>
                    </select>
                </div>
                <div class="input-box">
                    <span class="details">Delivery date</span>
                    <input type="date" placeholder="Enter the date" id="minDate"
                           name="deliveryDate" th:value="${deliveryDate}">
                    <script>
                        const today = new Date().toISOString().split('T')[0];
                        document.getElementsByName("deliveryDate")[0].setAttribute('min', today);
                    </script>
                </div>
                <div class="input-box">
                    <span class="details">Address</span>
                    <input type="text" name="address"
                           th:value="${address}" placeholder="Enter address"
                           required>
                </div>
            </div>
            <div class="gender-details">
                <div th:if="${option eq 'Fragile'}">
                    <input type="radio" name="option" value="None" id="dot-1">
                    <input type="radio" name="option" value="Fragile" id="dot-2" checked>
                    <span class="gender-title">Special option</span>
                    <div class="category">
                        <label for="dot-1">
                            <span class="dot one"></span>
                            <span class="option">None</span>
                        </label>
                        <label for="dot-2">
                            <span class="dot two"></span>
                            <span class="option">Fragile</span>
                        </label>
                    </div>
                </div>
                <div th:if="${option ne 'Fragile'}">
                    <input type="radio" name="option" value="None" id="dot-1" checked>
                    <input type="radio" name="option" value="Fragile" id="dot-2">
                    <span class="gender-title">Special option</span>
                    <div class="category">
                        <label for="dot-1">
                            <span class="dot one"></span>
                            <span class="option">None</span>
                        </label>
                        <label for="dot-2">
                            <span class="dot two"></span>
                            <span class="option">Fragile</span>
                        </label>
                    </div>
                </div>

            </div>
            <div class="button">
                <input type="submit" name="orderButton" value="Make an order" style="margin-bottom: 5px">
                <form method="post">
                    <input type="submit" name="priceCalculateButton" formaction="make-order/price-calculate"
                           value="Calculate price">
                </form>
            </div>
        </form>
    </div>
</div>
</body>
</html>
